/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 
	Khaled Omar
*/
* {
	box-sizing: border-box;
}

.flexwrapper {
	display: flex;
	flex-wrap: wrap;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	margin-left: auto;
	margin-right: auto;
}


/* 
	Header
*/

header {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	order: 0;
}

#logo {
	order: 0;
	display: none;
}

#name {
	order: 1;
	text-align: center;
}

hr {
	width: 90vw;
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-style: inset;
	border-width: 1px;
	order: 2;
}


/* 
	Main Photo
*/

#topPhoto {
	text-align: center;
	order: 2;
}

#topPhoto img {
	width: 90vw;
}


/* 
	Featured Work
*/

#featuredwork {
	order: 3;
	margin: 2vh auto 0 auto;
	width: 90vw;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

#featuredwork h1 {
	width: 100%;
	order: 0;
}

.portfolioItem img {
	width: 100%;
}

.portfolioItem {
	width: 90vw;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

#firstItem {
	order: 1;
}

#secondItem {
	order: 2;
}

#thirdItem {
	order: 3;
}


/* 
	Font Styles
*/

h1 {
	font-family: "Bookman Old Style";
	font-size: 3em;
}

h2 {
	font-family: "Bookman Old Style";
	font-size: 1.5em;
}


/* 
	medium to large screens 
*/

@media all and (min-width: 600px) {
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 1.5em;
	}
	#logo {
		order: 0;
		display: inline;
	}
	#featuredwork {
		width: 90vw;
	}
	#featuredwork section {
		margin-top: 2vh;
		margin-bottom: 2vh;
	}
	header {
		width: 90vw;
	}
	#featureTitle {
		width: 90vw;
		text-align: left;
	}
	#name {
		text-align: right;
		margin-right: 0;
	}
	.portfolioItem {
		width: 30%;
	}
	.portfolioItem img {
		width: 100%;
	}
	#secondItem {
		margin-left: 5%;
		margin-right: 5%;
	}
	#featureTitle h2 {
		font-size: 2em;
	}
	#featureTitle h3 {
		font-size: 1em;
	}
}